<% content_for :title do %>
    ZgunzDEV | Contact
<% end %>
<section class="contact_form">
  <div class="header">
  <h2>Contact Form</h2>
  <p>please fill all field with valid data</p>
  </div>
<%= form_for @contact do |f| %>
    <%= f.text_field :name, placeholder: "your name",  required: true%>
    <br/>
    <%= f.email_field :email, placeholder: "your email", required: true %>
    <br/>
    <%= f.text_area :message, placeholder: "what you want me to know", as: :text %>
    <br/>
    <br/>
    <div style="display: none">
      <%= f.label :nickname %><br/>
      <%= f.text_area :nickname, hint: "put this  blank" %>
    </div>
    <%= f.submit "send me" %>
<% end %>
</section>