<!-- item_large -->
<% show = false if :show.nil? %>
<article id="<%= dom_id(item_large) %>" class="post">
  <header>
    <div class="title">
      <h2><%= link_to item_large.title, item_large %></h2>
      <!--<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>-->
    </div>
    <div class="meta">
      <%= time_tag item_large.created_at.to_date,
                   pubdate: true, class: 'published' %>
      <a href="#" class="author"><span class="name"><%= item_large.author.profile.full_name %></span><%= image_tag 'avatar.jpg'%></a>
    </div>
  </header>
  <a href="#" class="image featured"><%= image_tag '5.png' %></a>
  <% if show %>
      <p><%= markdown item_large.content %></p>
  <%else%>
      <p><%= truncate item_large.content, length: 414, separator: " " %></p>
  <% end %>
  <footer>
    <ul class="actions">
      <% if !show %>
          <li><a href="<%= url_for item_large %>" class="button big">Continue Reading</a></li>
      <%else%>
          <li><a href="<%= url_for item_large %>" class="button big">Downloads</a></li>
          <li><a href="<%= url_for item_large %>" class="button big">Source Code</a></li>
      <% end %>
    </ul>
    <ul class="stats">
      <li><a href="#" class="tag">General</a></li>
      <% if current_or_guest_user.heart?(item_large)%>
          <li><%= link_to item_large.hearts.length,
                          post_unheart_path(post_id: item_large.id),
                          remote: true,
                          method: :delete,
                          class: 'icon fa-heart' %></li>
          <%else%>
          <li><%= link_to item_large.hearts.length,
                          post_heart_path(post_id: item_large.id),
                          remote: true,
                          method: :post,
                          class: 'icon fa-heart' %></li>
      <%end%>
      <li><a href="#" class="icon fa-comment">128</a></li>
      <li><a href="#" class="icon fa-share">128K</a></li>
    </ul>
  </footer>
  <% if show %>
      <%=render :partial => 'layouts/disqus', object: item_large %>
  <%end%>
</article>