<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= yield :title  %></title>
  <%= yield :meta_tag %>
  <% if browser.ie?(8)%>
      <%= javascript_include_tag 'ie/html5shiv' %>
      <%= stylesheet_link_tag 'ie8' %>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <% if browser.ie?(9)%>
      <%= stylesheet_link_tag 'ie9' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">
  <%= render 'layouts/header' %>
  <%= render 'layouts/menu' %>
  <%= yield :sidebar_right %>
  <!-- Main -->
  <div id="main">
    <% if notice %>
    <p class="notice"><%= notice %></p>
        <% elsif alert %>
    <p class="alert"><%= alert %></p>
        <% end %>
    <%= yield %>
  </div>
  <%= yield :sidebar_left %>
  <%= render 'layouts/container_footer'%>
  <%= render 'layouts/footer' %>
</div>
<!-- Scripts -->
<%= javascript_include_tag 'application' %>
<% if browser.ie?(8)%>
    <%= javascript_include_tag 'ie/respond.min' %>
<% end %>
</body>
</html>